@model IEnumerable<EFGHermes.BL.Dtos.Base.IdNameDto>

@{
    ViewData["Title"] = "Hotels";
}

<h1>Manage Hotels And Rooms</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
               Hotel Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Add Room", "CreateRoom", new { HotelId = item.Id })
                @Html.ActionLink("Rooms Detail", "RoomSlotList", new { HotelId = item.Id })

            </td>
        </tr>
}
    </tbody>
</table>
