@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>EFG Hermes Holding informed shareholders today that it has completed its transformation into an Egyptian universal bank with a market-leading frontier emerging markets (FEM) investment banking platform. The news comes as the Firm has finalized its acquisition of a 51% stake in the Arab Investment Bank (aiBANK), marking a strategic entry into the fast-growing and solid Egyptian commercial banking sector. The transaction will see EFG Hermes Holding assume control of aiBANK, with TSFE Financial Services & Fintech Subfund, a subfund fully owned by the Sovereign Fund of Egypt, EFG Hermes Holding’s valued partner, acquiring a 25% stake. <a href="https://www.efghermes.com/en/newsroom-km/aibankacquisition"> </a>.</p>
</div>
